# Python virtual environment
venv/
__pycache__/

# Environment variables
.env

# Service account credentials file
service_account.json

# Downloaded and processed files
downloads/
Processed/

# IDE and OS specific files
.vscode/
.idea/
*.DS_Store